/* Make header sticky */
.ast-theme-transparent-header {
    position: sticky !important;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 2147483647; /* Ensures the header stays on top of other content */
    background-color: #fff; /* Set to the background color of your header */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
    color: #333; /* Set to the text color of your header */
    padding: 0 !important;
}

// .main-header-bar {
//     position: sticky;
//     width: 100%;
//     top: 0;
//     left: 0;
//     z-index: 2147483647; /* Ensures the header stays on top of other content */
//     background-color: #fff; /* Set to the background color of your header */
//     box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
//     color: #333; /* Set to the text color of your header */
// }

// .site-content {
//     padding-top: 200px; /* Adjust this value based on the height of your header */
// }

// /* Base styles for the header */
// .header-main-layout-1 {
//     padding: 100px;
//     transition: padding 0.3s ease-in-out;
// }

// /* Smaller padding for tablets and below */
// @media (max-width: 768px) {
//     .header-main-layout-1 {
//         padding: 50px;
//     }
// }

// /* Even smaller padding for mobile devices */
// @media (max-width: 480px) {
//     .header-main-layout-1 {
//         padding: 25px;
//     }
// }
